# RAG-Dev Environment Configuration

# ===========================================
# Google AI Configuration
# ===========================================
# Google Gemini API Key (REQUIRED)
GOOGLE_API_KEY=<GOOGLE_API_KEY>

# ===========================================
# ChromaDB API Configuration
# ===========================================
# ChromaDB API Settings (REQUIRED)
CHROMA_API_URL=<CHROMA_API_URL>

# ===========================================
# Supabase api configuration 
# ===========================================
#  Supabase Settings (REQUIRED)
SUPABASE_URL=<SUPABASE_SERVICE_URL>
SUPABASE_SERVICE_ROLE_KEY=<SUPABASE_SERVICE_ROLE_KEY>